<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.alpha01.jwtest.dao.SessionMapper">
	<select id="get" parameterType="int" resultType="net.alpha01.jwtest.beans.Session">
		select * from sessions where id = #{id};
	</select>
	
	<select id="getAll" parameterType ="int" resultType="net.alpha01.jwtest.beans.Session">
		select * from sessions where id_plan = #{id_plan} ORDER BY start_date DESC;
	</select>
	
	<select id="getAllByProject" parameterType ="int" resultType="net.alpha01.jwtest.beans.Session">
		select s.* from sessions as s  inner join plans as p on p.id=s.id_plan where p.id_project = #{id_project} ORDER BY s.start_date DESC;
	</select>
	
	<select id="getAllByPlan" parameterType ="int" resultType="net.alpha01.jwtest.beans.Session">
		select s.* from sessions as s  inner join plans as p on p.id=s.id_plan where p.id = #{id_plan} ORDER BY s.start_date DESC;
	</select>
	
	<select id="getAllOpenedByProject" parameterType ="int" resultType="net.alpha01.jwtest.beans.Session">
		select s.* from sessions as s inner join plans as p on p.id=s.id_plan where  p.id_project=#{id} and end_date is null ORDER BY s.start_date;
	</select>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="net.alpha01.jwtest.beans.Session">
		insert into sessions (id_plan,id_user,version,id_profile,start_date,end_date) values (#{id_plan},#{id_user},#{version},#{id_profile},#{start_date},#{end_date});
	</insert>
	
	<update id="update" parameterType="net.alpha01.jwtest.beans.Session">
		update sessions set end_date=#{end_date} where id=#{id};
	</update>
	
	<delete id="delete" parameterType="net.alpha01.jwtest.beans.Session">
		delete from sessions where id=#{id}
	</delete>
</mapper>
